disk_model/__pycache__
optimization/__pycache__
__pycache__
GPI_init_fit.ipynb
GPI_init_fit.py
hr4796a_H_pol_initial_fit.png
cdbs/
*.pyc
stellar_psf_images/
test_images/
stpsf-data/
HR4796_fit.ipynb

HD145560_mcmc.ipynb

HD145560_emcee_backend.h5

GPI_init_fit_automated.ipynb
HD145560_mcmc.ipynb
