grater_jax/disk_model/__pycache__
grater_jax/optimization/__pycache__
__pycache__
*.pyc
docs/How-Tos/mcmc_backends/*.h5
docs/How-Tos/test_emcee_backend.h5
docs/api/generated/
tests/test_images
tests/cdbs
tests/stpsf-data
grater_jax.egg-info
test
# Run logs
*.log
docs/How-Tos/test_emcee_backend.h5
docs/How-Tos/mcmc_backends/*.h5
